@import "variables";

*,
*::after,
*::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html,
body,
#root{
    background-color:  $c-ash-white;
    font-size: 16px;
    font-family: $ff-nunito;
}

/*
** /////////// SIDE BAR
*/

.sidebar{
    &__container{
        background-color: $c-dark-blue;
        min-height: 100vh;
        // width: 23rem;
        padding: 2rem;
    }
    
    &__logo{
        width: 100%;
        display: grid;
        place-items: center;
        margin-bottom: 2rem;
    }

    &__user{
        display: flex;
        background-color: rgba($c-ash-white,0.1);
        width: 100%;
        height: 5rem;
        border-radius: 5px;
        color: $c-pure-white;
        // text-transform: capitalize;
        margin-bottom: 3rem;

        @include flex-center;
        justify-content: space-evenly;

        .avatar{
            background-color: $c-pure-white;
            width: 3rem;
            height: 3rem;
            @include flex-center;
            font-family: $ff-nunito;
            font-weight: 700;
            color: $c-light-blue;
            font-size: 2rem;
            border-radius: 5px;
            cursor: pointer;
        }

        .entity-name{
            font-weight: 400;
            letter-spacing: 1px;
            font-family: $ff-nunito;
        }

        .profile-btn{
            width: 2rem;
            height: 2rem;
            color: $c-pure-white;
            background-color: rgba($c-pure-white,0.1);
            border-radius: 50%;
            border:none;
            outline: none;
            transition: 0.2s all ease-in-out;
            cursor: pointer;

            &:hover{
                background-color: rgba($c-pure-white,0.3);
            }
        }

    }

    &__navigation{
        .nav-item{
            @include flex-center;
            justify-content: flex-start;
            gap: 2rem;
            width: 100%;
            height: 4rem;
            text-decoration: none;
            color: $c-pure-white;
            margin-block: 0.5rem;
            transition: 0.3s all ease-in-out;
            padding-inline: 1rem;
            border-radius: 5px;

            &:hover{
                box-shadow: $bs-two;
                background-color: rgba($c-ash-white,0.1);
                p{
                    transition: 0.3s all ease;
                    scale: 1.05;
                }
            }
        }
    }
}

/*
** //////////// DASH BORD
*/

.dashbord{
    display: grid;
    grid-template-columns: 23rem 1fr;
    grid-template-rows: 1fr;
}


.dashbord__forms{
    padding: 2rem;
    overflow-y: scroll;

    .co-workers{
        font-family: $ff-nunito;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        
        .angle{
            margin-right:1rem;
            color: $c-charcol-black;
        }
    }
}

.invite-form{
   background-color: $c-pure-white;
   width: 100%;
   padding: 1.5rem;
   display: flex;
   flex-flow: column wrap;
   border-radius: 8px;
   box-shadow: $bs-one;
   gap: 1rem;
   font-family: $ff-nunito;
   font-size: 1.02rem;

   .buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &__add-more{
        background: none;
        border:none;
        font-family: $ff-nunito;
        font-size: 1.02rem;
        color: $c-light-blue;

        &:is(:active,:focus){
            border: none;
            outline: none;
        }
    }

    &__send-invite{
        padding: 0.6rem;
        border:none;
        font-size: 1.02rem;
        font-family: $ff-nunito;
        background-color: $c-light-blue;
        color:$c-pure-white;
        border-radius:5px;

        &:is(:active){
            outline: none;
            scale: 0.98;
        }
    }
   }

   &__addUser{
    display: flex;
    justify-content: flex-start;
    gap:1rem;

        input[type="email"]{
            background-color: $c-gray;
            border:none;
            font-family: $ff-nunito;
            font-size: 1rem;
            padding: 0.8rem;
            border-radius: 5px;
            width: 30%;

            &:is(:active,:focus,:hover){
                border:none;
                outline: none;
            }

            &::placeholder{
                font-family: $ff-nunito;
            }
        }

        select{
            border:none;
            background-color: $c-gray;
            border-radius: 5px;
            padding-inline:1rem;
            font-family: $ff-nunito;
            font-size: 1rem;

            &:is(:active,:focus,:hover){
                border: none;
                outline: none;
            }
        }
    }
}

/*
** /////// ADDED MAILS
*/

.mails-container{
    font-family: $ff-nunito;
    background-color: $c-pure-white;
    margin-block: 2rem;
    border-radius: 8px;
    box-sizing: $bs-one;
    padding: 1.5rem;
    width: 100%;

    table {
        font-family: $ff-nunito;
        border-collapse: collapse;
        width: 100%;
        border-radius: none;
    }

    thead{
        background-color: $c-gray;
        color: $c-charcol-black;
    }

    td:nth-child(3),
    td:nth-child(4) {
        color: $c-light-blue;
        cursor: pointer;
    }

    // td{
    //     border-bottom: 1px solid $c-gray;
    // }
    
    td, th {
        // border: 1px solid $c-gray;
        text-align: left;
        padding: 1rem;
    }

    // tr:nth-child(even) {
    //     background-color: $c-gray;
    // }
}