@import "variables";

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: $ff-baloo;
    background-color: $c-sky-blue;
    font-size: $fs-1;
    overflow-x: hidden;
}

/*
** Navbar
*/

#navbar{
    .nav-container{
        width: 100vw;
        height: 4rem;
        background-color: $c-white;
        border-bottom: 1px solid rgba(87, 96, 116, 0.2);

        display: flex;
        align-items: center;
        flex-flow: flex wrap;
        justify-content: space-between;
        padding-inline: 5rem;

        font-family: $ff-baloo;
        color: $c-gray;

        
        @media screen and (max-width:600px){
            padding-inline: 2rem;
            
            &__img{
                height: 2rem;
            }
        }
        
        &__links{
            display: flex;
            flex-flow: row wrap;
        }

        &__item{
            text-decoration: none;
            font-size: $fs-1;
            font-weight: $fw-5;
            text-transform: capitalize;
            color: $c-gray;
            padding-inline: 2rem;
            transition: 0.3s;

            &:hover{
                color: $c-charcol;
            }

            &:last-child{
                position: relative;

                &::after{
                    content: "";
                    position: absolute;
                    width: 0.5em;
                    height: 0.5rem;
                    border-radius: 50%;
                    background-color: $c-yellow;
                    margin-left: -8px;
                }
            }
        }
    }
}

/*
** Footer
*/

#footer{
    background-image: $g-blue;
    display: flex;
    justify-content: space-around;
    padding: 2rem 5rem;
    gap: 2rem;

    .footer_section-one{

        width: 30%;

        p{
            color: $c-white;
        }

        ul{
            list-style: none;
            display: flex;
            gap: 0.5rem;
            margin-top: 1.5rem;
            
            li{
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                @include flex-center;
                color: $c-charcol;
                background-color: $c-white;
                transition: 0.3s;
            }

            li:nth-child(1):hover{
                background-color: rgb(84, 84, 255);
                color: $c-white;
            }
            
            li:nth-child(2):hover{
                background-color: rgb(255, 109, 133);
                color: $c-white;
            }
            
            li:nth-child(3):hover{
                background-color: rgb(39, 226, 255);
                color: $c-white;
            }
        }
    }

    .footer_section-tow{
        width: 30%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;

        .list{
            h3{
                color: $c-white;
                text-transform: capitalize;
                font-family: $ff-baloo;
                font-weight: $fw-5;
            }

            ul{
                list-style: none;
                color: $c-white;
                font-family: $ff-poppins;
                font-weight: 300;
                letter-spacing: 1px;
                font-size: 0.8rem;
                line-height: 2;
                
                li{
                    opacity: 0.5;
                    transition: 0.2s;
                }
                
                li:hover{
                    opacity: 1;
                    scale: 1.1;
                }
            }
        }
    }

    .section-divider{
       width: 1px;
       margin-block: 1.5rem;
       background-color: $c-white;
       opacity: 0.5;
    }
}

@media screen and (width<=600px){
    #footer{
        padding: 2rem;

        .footer_section-one{
            .footer-logo{
                height: 1.5rem;
            }
        }
    }
}

@media screen and (width<=400px){
    #footer{
        padding: 2rem;

        .footer_section-one{
            .footer-logo{
                height: 1.5rem;
            }
        }
    }
}

/*
** Carousel card(horzontal slide)
*/

.carousel-card{
    width: 18rem;
    height: 10rem;
    position: relative;
    overflow: hidden;
    border-radius: 0.8rem;
    
    &__img{
        width:100%;
        transition: 0.5s;

        &:hover{
            scale: 1.05;
        }
    }

    &__details{
        position: absolute;
        width: 90%;
        top: 0.8rem;
        left: 0.8rem;
        display: flex;
        z-index: 100;
        flex-direction: row;

        color: $c-white;
        display: flex;
        justify-content: space-between;

        h3{
            font-family: $ff-poppins;
            font-weight: 400;
        }

        div>p{
            font-family: $ff-poppins;
            font-weight: 300;
        }

        div>h2{
            font-size: 2rem;
        }
    }
}


/*
** Recommendation Card
*/

.recommended-card{
    width: 17rem;
    height: 21.5rem;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background-color: $c-white;
    border: 1px solid rgba($c-gray,0.2);
    
    &__img-container{
        width: 100%;
        height: 16rem;
        overflow: hidden;
        background-size: cover;
        background-position: center;

        @include flex-center;
    }
    
    &__img{
        height: 100%;
        object-fit: contain;
        transition: 0.5s;

        &:hover{
            scale: 1.1;
        }
    }

    &__details{
        display: flex;
        height: 5.5rem;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1.5rem;

        h4{
            font-size: 1rem;
            font-family: $ff-poppins;
            font-weight: 500;
            color: $c-charcol;
        }

        p{
            font-family: $ff-poppins;
            color: $c-gray;
            font-weight: 300;
        }

        h2{
            color: $c-dark-blue;
        }
    }
}

/*
** destination showcase
*/

.trips-showcase{
    width: 100%;
    &__headings{
        font-family: $ff-poppins;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        color: $c-charcol;

        div{
            h3{
                font-weight: 500;
                text-transform: uppercase;
                color: $c-dark-blue;
            }

            h1{
                font-weight: 600;
            }
        }

    }

    &__link{
        text-decoration: none;
        color: $c-dark-blue;
    }

    &__recommended > &__headings{
        margin-block: 3rem 1.5rem;
        h1{
            font-weight: 600;
        }
    }
}

.landing-page{
    padding: 5rem;

    @media screen and (max-width:600px){
        padding: 2rem;
    }
}

/*
** Form
*/
.newsletter-form{
    font-family: $ff-poppins;
    color: $c-charcol;

    display: flex;
    flex-direction: column;
    
    &__headings{
        text-align: center;
        margin-block: 3rem 2rem;
        h4{
            color: $c-dark-blue;
            font-weight: 500;
            text-transform: uppercase;
        }

        h2{
            font-weight: 600;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        background-color: $c-white;
        padding: 1.5rem;
        border-radius: 10px;

        label{
            font-weight: 300;
            font-size: 0.8rem;
        }

        .input{
            padding-block: 0.8rem;
            border:1px solid rgba($c-gray,0.3);
            border-radius: 3px;

            &:focus,&:active,&:hover{
                outline: none;
            }
        }

        .input::placeholder{
            font-family: $ff-poppins;
            text-indent: 3rem;
            opacity: 0.7;

        }

        .input:first-of-type{
            margin-block: 1rem 0.8rem;
        }

        .input:last-of-type{
            margin-block: 0rem 1rem;
        }

        button{
            width: 10rem;
            height: 2.5rem;

            outline: none;
            border: none;
            background-color: $c-yellow;
            color: $c-white;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-radius: 3px;

            &:active{
                scale: 0.98;
            }
        }
    }
}


/*
** Landing Page
*/
