
/*
** Theme
*/
$c-sky-blue: #F3F7FB;
$c-white: #FFFFFF;
$c-dark-blue: #1262AF;
$c-light-blue: #299BD8;
$c-yellow: #F99A0E;
$c-gray: rgba(87, 96, 116, 1);
$c-charcol: rgb(24, 24, 24);

/*
** Gradients
*/
$g-blue: linear-gradient(268.93deg, #299BD8 8.03%, #1262AF 99.09%);

/*
** Fonts
*/
$ff-baloo:'Baloo Bhai 2', sans-serif;
$ff-poppins:'Poppins', sans-serif;

/*
** Font weights
*/
$fw-8: 800;
$fw-7: 700;
$fw-6: 600;
$fw-5: 500;
$fw-4: 400;

/*
** Font size
*/

$fs-1: 1rem;
$fs-2: 2rem;
$fs-3: 3rem;

/*
** mixins
*/

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}