

   // THEMES

   $c-dark-blue: #00204E;
   $c-light-blue: #1161d6;
   $c-pure-white: #FFFFFF;
   $c-white: rgba(255,255,255,1);
   $c-ash-white: #f5f5f5;
   $c-charcol-black: #1E1E1E;

   $c-gray: #D3D3D3;


   // FONTS

   $ff-nunito: 'Nunito Sans', sans-serif;


   // SHADOWS

   $bs-one: 0px 4px 53px rgba(204, 204, 204, 0.3);
   $bs-two: 0 0 10px rgba(0, 0, 0,0.1);

   
   // MIXIN HELPERS

   @mixin grid-center{
      display: grid;
      place-items: center;
   }

   @mixin flex-center{
      display: flex;
      align-items: center;
      justify-content: center;
   }